/*-----------header --------------*/

header {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  z-index: 4;
}

nav {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: black;
  min-width: 12rem;
}

#offerLink {
  font-weight: bold;
}



/*-----------main --------------*/

main {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
}

#safetyArticle {
  height: max-content;
  padding: 0 7% 0 7%;
  background-color: var(--grey-color);
  width: 86%;
}

#safetySection {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  column-gap: 15rem;
  padding-top: 8rem;
}

#leftSafety {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#leftSafety > button {
  margin-left: 0;
}

#joinLink {
  color: black;
  text-decoration: none;
}

#rightSafety {
  width: 50%;
}

#rightSafety > p {
  text-align: left;
  font-size: 1.6rem;
  line-height: 1.6;
}

/* -------- Card section -------- */

#cardSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  column-gap: 5rem;
  background-color: var(--grey-color);
  /*  padding-top: 12rem; */
  position: relative;
  top: 12rem;
}

.card {
  width: 20%;
  height: 25rem;
  border: 1px solid white;
  border-radius: 5px;
  z-index: 2;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageDiv {
  width: 90%;
  height: 12rem;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
  bottom: 30px;
  display: flex;
  justify-content: center;
}

#image1div {
  background-color: var(--blue-color);
}

#image2div {
  background-color: var(--yellow-color);
}

#image3div {
  background-color: var(--darkYellow-color);
}

img {
  height: 35rem;
  padding-top: 1rem;
}

#childPicture {
  height: 14rem;
}

.card > p:first-of-type {
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1rem 0 1rem 0;
}

.card > p {
  text-align: center;
}

/* -------- About us -------- */
#aboutUsSection {
  z-index: 1;
  background-color: var(--yellow-color);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 3rem 30% 3rem 30%;
}

#aboutUsSection > h2 {
  position: relative;
  top: 5rem;
  padding: 0rem 0 3rem 0;
}

#aboutUsSection > p {
  font-size: 1.2rem;
  line-height: 1.6;
  position: relative;
  top: 5rem;
}

/* -------- How works section -------- */

#howWorks {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.boxContainer {
  display: flex;
  flex-wrap: wrap;
}

.smallBoxInContainer {
  float: left;
  width: 33.33%;
  height: 33.33vw;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-size: 1.6rem;
  line-height: 1.6;
  font-weight: bold;
}

#cell0 {
  background-color: var(--blue-color);
}
#cell1,
#cell3,
#cell5 {
  background-color: white;
}
#cell2 {
  background-color: var(--lightGrey-color);
}
#cell4 {
  background-color: var(--darkYellow-color);
}

.smallBoxInContainer > p:first-of-type {
  font-size: 3rem;
  font-weight: bold;
  color: var(--grey-color);
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
}

#cell0 {
  font-size: 3rem;
}

#cell4 > p:first-of-type {
  color: rgb(145, 73, 44);
}

#cell2 > div {
  text-align: center;
}

.smallBoxInContainer > p:nth-of-type(2) {
  text-align: center;
}

/* -------- Take me up button -------- */

#takeMeUp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  background-color: var(--grey-color);
}

#upButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  color: black;
  font-weight: bold;
}

/* ----------------- Footer ----------------- */
footer {
  color: white;
  background-color: rgb(119, 117, 116);
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  height: 15rem;
}

#footerContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-grow: 1;
  padding: 2.5rem 8% 1rem 5%;
}

.footerItem {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.footerItem > h2 {
  font-size: 1.5rem;
}

#socialMediaItems {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 1rem;
}

.footerItem > span {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: rgb(230, 230, 230);
}

#socialMediaItems > img {
  width: 2rem;
  height: fit-content;
}

* {
  padding: 0;
  margin: 0;
}

/*----------- MOBILE --------------*/
@media only screen and (max-width: 851px) {
  #safetyArticle {
    height: fit-content;
  }

  #safetySection {
    display: flex;
    flex-direction: column;
    padding-top: 8rem;
  }

  button {
    display: none;
  }

  #leftSafety {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #rightSafety {
    width: 100%;
    padding-top: 1rem;
  }

  #cardSection {
    display: flex;
    flex-direction: column;
    row-gap: 4rem;
    align-items: center;
    background-color: var(--grey-color);
    padding: -0.2rem 30% 3rem 30%;
    margin-bottom: 19rem;
    height: fit-content;
  }
  .card {
    width: 80%;
  }

  #aboutUsSection {
    z-index: 1;
    background-color: var(--yellow-color);
    height: auto;
    text-align: center;
    padding: 1rem 10% 10rem 10%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
  }

  #aboutUsSection > h2 {
    padding: 0 0 1rem 0;
  }

  #aboutUsSection > p {
    font-size: 1.2rem;
    line-height: 1.6;
  }

  .boxContainer {
    height: auto;
  }

  .smallBoxInContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 1rem;
    min-width: min-content;
    width: 100%;
    min-height: 33.33vw;
    height: auto;
  }

  .smallBoxInContainer > p:first-of-type {
    font-size: 1.7rem;
    color: var(--grey-color);
    width: 20%;
    margin-right: 10px;
    position: absolute;
    top: 0;
    left: 0;
  }

  .smallBoxInContainer > p:nth-of-type(2),
  #cell2 > div {
    text-align: center;
    font-size: 1.5rem;
    line-height: 1;
    word-break: break-word;
    width: 50%;
    margin-right: 10px;
    position: relative;
  }

  footer {
    color: white;
    background-color: rgb(119, 117, 116);
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    min-height: 15rem;
    height: auto;
    flex-wrap: wrap;
  }

  #footerContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-grow: 1;
    justify-content: flex-start;
  }

  .footerItem {
    display: flex;
    flex-direction: column;
    height: fit-content;
    padding: 1rem;
  }

  .footerItem > h2 {
    font-size: 1.5rem;
  }

  #socialMediaItems {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-right: 1rem;
  }

  .footerItem > span {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.6;
    color: rgb(230, 230, 230);
  }

  #socialMediaItems > img {
    width: 2rem;
    height: fit-content;
  }
}
